*{
	-web-kit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: Roboto;
	font-size: 25px;
	margin: 0;
}

#menu{
	text-align: center;
	background-color: #E6E6E6;
	padding: 20px;
	padding-bottom: 50px;
}

#menu #circle .menu-title{
    margin-top: 1.5em;
}

#menu h1 {
	font-weight: 500;
	line-height: 50px;
	color: #454444;
}

#menu #provider-container .provider img {
	width: 100px;
	height: auto;
}

.provider {
	display: inline-block;
	margin-top: 30px;
	margin-left: 2em;
	margin-right: 2em;
}

#menu #provider-container #provider-box{
	margin-left: 2em;
	margin-bottom: 3em;
}

#menu #provider-container .provider[data-which='idea'] img {
	width: 130px;
	padding-bottom: 10px;
}

#menu #provider-container .provider[data-which='reliance'] img {
	width: 170px;
	padding-bottom: 30px;
}

#menu .menu-title {
	margin-top: 3em;
}

select {
    margin: 0;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
    background: transparent;
    color:black;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    font-weight: 300;
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

#telecom-box {
	margin-top: 1em;
	width: 460px;
	height: auto;
    overflow: hidden;
	background: url(../img/arrow-01.png) no-repeat right white;
    text-align: left;
    padding-left: 10px;
}

#budget-box {
    margin-left: 42.3%;
    margin-top: 1em;
    width: 250px;
    padding-left: 20px;
    height: auto;
    overflow: hidden;
    background: url(../img/arrow-01.png) no-repeat right white;

}

#budget-box select{
    width: 250px;
}

option{
    width: 460px;
    padding: 8px;
}

/*option {
	margin: 0;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
    background: white;
    color:black;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    font-weight: 300;
}*/

.provider img{
	-webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%); 
    -moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
	
}


.provider img:hover {
	-webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    filter: grayscale(0%); 
    cursor: pointer;
}

.provider.active img {
	-webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    filter: grayscale(0%); 
}

#submit-button {
    margin-top: 70px;
    margin-left: 41.5%;
    text-align: center;
    background-color: #666666; 
    border-radius: 5px;
    width: 280px;
    height: 80px;
    color: white;
    padding: 25px;
}

#submit-button p{
        font-size: 30px;
}

#submit-button:hover {
    background-color: #A0A0A0;
    cursor: pointer;
}

.world{
    width: 40%;
    display: inline-block;
    line-height: 70px;
    vertical-align: top;
}

#content{
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;
}

.world .figure {
    font-size: 60px;
}

#yes-nn{
   border-left: 1px solid gray;
}

.valueslider{
    width: 65%;
    margin-left: 5em;
    margin-top: 1em;
}

#telecom-map {
    width: 500px;
    height: auto;
    vertical-align: -50px;
}

.telecom-divs{
    display: inline-block;
}

/*path {
    border-width: 5px;
    border-style: solid;
    border-color: rgb(105, 104, 104);
}*/

#telecom-map[data-selected-circle="andhra_pradesh"] #andhra_pradesh path,
#telecom-map[data-selected-circle="assam"] #assam path,
#telecom-map[data-selected-circle="bihar_jharkhand"] #bihar_jharkhand path,
#telecom-map[data-selected-circle="delhi_ncr"] #delhi_ncr path,
#telecom-map[data-selected-circle="gujarat"] #gujarat path,
#telecom-map[data-selected-circle="haryana"] #haryana path,
#telecom-map[data-selected-circle="himachal_pradesh"] #himachal_pradesh path,
#telecom-map[data-selected-circle="jammu_and_kashmir"] #jammu_and_kashmir path,
#telecom-map[data-selected-circle="karnataka"] #karnataka path,
#telecom-map[data-selected-circle="kerala"] #kerala path,
#telecom-map[data-selected-circle="kolkata"] #kolkata path,
#telecom-map[data-selected-circle="madhya_pradesh_chhattisgarh"] #madhya_pradesh_chhattisgarh path,
#telecom-map[data-selected-circle="maharashtra_goa"] #maharashtra_goa path,
#telecom-map[data-selected-circle="mumbai"] #mumbai path,
#telecom-map[data-selected-circle="north_east"] #north_east path,
#telecom-map[data-selected-circle="orissa"] #orissa path,
#telecom-map[data-selected-circle="punjab"] #punjab path,
#telecom-map[data-selected-circle="rajasthan"] #rajasthan path,
#telecom-map[data-selected-circle="tamil_nadu"] #tamil_nadu path,
#telecom-map[data-selected-circle="up_east"] #up_east path,
#telecom-map[data-selected-circle="up_west_uttarakhand"] #up_west_uttarakhand path,
#telecom-map[data-selected-circle="west_bengal"] #west_bengal path
{
    fill: #E23743;
    /*remove the things below. at present they don't work in Chrome*/
    stroke-width:2px;
    stroke: #E23743;
}

g:hover * {
    fill: #ccc;
    cursor: pointer;
    /*remove the things below. at present they don't work in Chrome*/
    stroke-width:2px;
    stroke: #ccc;
}

g path {
    fill: #454546;
    /*remove the things below. at present they don't work in Chrome*/
    stroke-width:2px;
    stroke: #454546;
}

.ui-slider-horizontal.ui-state-default {
    border-radius: 50%;
}

#content .ui-state-default, #content .ui-widget-content .ui-state-default, #content .ui-widget-header .ui-state-default {
  border: none;
  background: none; 
  font-weight: normal;
  color: red;
  background-color: #C1272D;
  border-radius: 50%;
  vertical-align: -30px;
}

#content #no-nn .ui-state-default, #content #no-nn .ui-widget-content #no-nn .ui-state-default, #content #no-nn .ui-widget-header .ui-state-default {
  border: none;
  background: none; 
  font-weight: normal;
  color: red;
  background-color: #C1272D;
  border-radius: 50%;
  vertical-align: -30px;
}

#content #yes-nn .ui-state-default, #content #yes-nn .ui-widget-content #yes-nn .ui-state-default, #content #yes-nn .ui-widget-header .ui-state-default {
  border: none;
  background: none; 
  font-weight: normal;
  color: red;
  background-color: #23842C;
  border-radius: 50%;
  vertical-align: -30px;
}

#content .ui-slider-horizontal{ 
    height: .3em; 
    vertical-align: -30px;
}

#content .world .world-title h2{
    font-size: 1.5em;
    font-weight: 500;
    padding-bottom: 1.5em;
}

#content #yes-nn .world-title{
    color: #23842C
}

#content #no-nn .world-title{
    color: #C1272D
}

#content .ui-widget-content {
    border: none; 
    background: none;
    color: #222;
    background-color: #ccc;
}

.scenario {
    margin-bottom: 2.5em;
}