*{
	-web-kit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: Roboto;
	margin: 0;
}

#sc-type h2{
    line-height: 1em; 
    font-size: 1.2em;
    font-weight: 300;
}

#menu{
    padding-top: 2em;
	text-align: center;
	background-color: #E6E6E6;
	/*padding: 20px;*/
	padding-bottom: 3em;
}

.menu-block{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0.1em;
}

#headline {
    background-color: #666666;
}

#headline h1{
    font-size: 2.5em;
    color: #E6E6E6;
    font-weight: 400;
    text-align: center;
    padding: 2em;
}

.sc-button {
    display: inline-block;
    width: 150px; /*come back to fix pxs*/ 
    height: 70px; /*come back to fix pxs*/
    background-color: #666666; 
    color: white;
    border-radius: 5px; /*come back to fix pxs*/
}

.sc-button.active{
    background-color: #C1272D;
}

.sc-button:hover{
    background-color: #C1272D;
    cursor: pointer;
}

#sc-type{
    margin-bottom: 2em;
}

#menu #circle .menu-title{
    margin-top: 1.5em;
}

#menu h1 {
	font-weight: 500;
	line-height: 1.4em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 1.5em;
	color: #454444;
}

#menu #provider-container .provider img {
	width: 6em;
	height: auto;
}

.provider {
	display: inline-block;
	margin-top: 2.5em;
	margin-left: 2.5em;
	margin-right: 2.5em;
}

#menu #provider-container #provider-box{
	margin-left: auto;
    margin-right: auto;
	margin-bottom: 3em;
}

#menu #provider-container .provider[data-which='idea'] img {
	width: 8.3em;
	padding-bottom: 0.5em;
}

#menu #provider-container .provider[data-which='reliance'] img {
	width: 10.5em;
	padding-bottom: 1.5em;
    /*padding-top: 0.5em;*/
}

#menu .menu-title {
	margin-top: 3em;
}

select {
    margin: 0;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
    background: transparent;
    color:black;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    font-weight: 300;
    font-size: 1.3em;
    padding-left: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#telecom-box {
	margin-top: 1em;
	width: 22.5em;
	height: auto;
    overflow: hidden;
	background: url(../img/arrow-01.png) no-repeat right white;
    text-align: left;
    padding-left: 10px;
    margin-left: auto;
    margin-right: auto;
}

#budget-box {
    margin-top: 1.5em;
    width: 17em;
    padding-left: 0.6em;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    background: url(../img/arrow-01.png) no-repeat right white;

}

#budget-box select{
    width: 16em;
}

option{
    width: 18em;
    padding: 8px;
}

.error{
    color: red
}

/*option {
	margin: 0;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
    background: white;
    color:black;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    font-weight: 300;
}*/

.provider img{
	-webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%); 
    -moz-transition: all .25s linear;
	-webkit-transition: all .25s linear;
	-o-transition: all .25s linear;
	transition: transform .25s linear;
	
}


.provider img:hover {
	-webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    filter: grayscale(0%); 
    cursor: pointer;
    transform: scale(1.1);
}

.provider.active img {
	-webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    filter: grayscale(0%); 
}

#submit-button {
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #666666; 
    border-radius: 5px;
    width: 10em;
    height: 3.3em;
    color: white;
    padding: 0.7em;
}

#content .bar{
    width: 18em;
    height: 2.5em;
    background-color: #ccc;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    z-index: -1000;
    position: relative;
}

#content .bar .completed-progress{
    width: 0%;
    height: 2.5em;
    background-color: green;
    z-index: 1000;
    position: absolute;
    left: 0;
    top: 0;
    transition: all .2s ease-in-out; 
}

#content .bar p{
   font-size: 1em;
   line-height: 0.2em;
   z-index: 2000;
   position: absolute;
}


#submit-button p{
    font-size: 1.5em;
}

#submit-button:hover {
    background-color: #A0A0A0;
    cursor: pointer;
}

.world{
    width: 40%;
    display: inline-block;
    line-height: 3em;
    vertical-align: top;
}

#content{
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;
    display: none;
}

#content.show{
    display: block;
}

.world .figure {
    font-size: 60px;
}

#yes-nn{
   border-left: 1px solid gray;
}

.valueslider{
    width: 65%;
    margin-left: 18%;
    margin-top: 1em;
}

#telecom-map {
    margin-top: 2em;
    width: 26.5em;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

/*.telecom-divs{
    display: inline-block;
}*/

/*path {
    border-width: 5px;
    border-style: solid;
    border-color: rgb(105, 104, 104);
}*/

#telecom-map[data-selected-circle="andhra_pradesh"] #andhra_pradesh path,
#telecom-map[data-selected-circle="assam"] #assam path,
#telecom-map[data-selected-circle="bihar_jharkhand"] #bihar_jharkhand path,
#telecom-map[data-selected-circle="delhi_ncr"] #delhi_ncr path,
#telecom-map[data-selected-circle="gujarat"] #gujarat path,
#telecom-map[data-selected-circle="haryana"] #haryana path,
#telecom-map[data-selected-circle="himachal_pradesh"] #himachal_pradesh path,
#telecom-map[data-selected-circle="jammu_and_kashmir"] #jammu_and_kashmir path,
#telecom-map[data-selected-circle="karnataka"] #karnataka path,
#telecom-map[data-selected-circle="kerala"] #kerala path,
#telecom-map[data-selected-circle="kolkata"] #kolkata path,
#telecom-map[data-selected-circle="madhya_pradesh_chhattisgarh"] #madhya_pradesh_chhattisgarh path,
#telecom-map[data-selected-circle="maharashtra_goa"] #maharashtra_goa path,
#telecom-map[data-selected-circle="mumbai"] #mumbai path,
#telecom-map[data-selected-circle="north_east"] #north_east path,
#telecom-map[data-selected-circle="orissa"] #orissa path,
#telecom-map[data-selected-circle="punjab"] #punjab path,
#telecom-map[data-selected-circle="rajasthan"] #rajasthan path,
#telecom-map[data-selected-circle="tamil_nadu"] #tamil_nadu path,
#telecom-map[data-selected-circle="up_east"] #up_east path,
#telecom-map[data-selected-circle="up_west_uttarakhand"] #up_west_uttarakhand path,
#telecom-map[data-selected-circle="west_bengal"] #west_bengal path
{
    fill: #E23743;
    /*remove the things below. at present they don't work in Chrome*/
    stroke-width:2px;
    stroke: #E23743;
}

g:hover * {
    fill: #ccc;
    cursor: pointer;
    /*remove the things below. at present they don't work in Chrome*/
    stroke-width:2px;
    stroke: #ccc;
}

g path {
    fill: #454546;
    /*remove the things below. at present they don't work in Chrome*/
    stroke-width:2px;
    stroke: #454546;
}

.ui-slider-horizontal.ui-state-default {
    border-radius: 50%;
}

#content .ui-state-default, #content .ui-widget-content .ui-state-default, #content .ui-widget-header .ui-state-default {
    border: none;
    background: none; 
    font-weight: normal;
    background-color: #C1272D;
    border-radius: 50%;
    vertical-align: -30px;
}

#content .ui-state-default, #content .ui-widget-content .ui-state-default, #content .ui-widget-header .ui-state-default {
    border: none;
    background: none; 
    font-weight: normal;
    cursor:pointer;
    border-radius: 50%;
    vertical-align: -30px;
    transition: all .2s ease-in-out; 
    transform: scale(0.8);
    background-color: white;
    border-style: solid;
    border-color: black;
}

#content .ui-state-default:hover, #content .ui-widget-content .ui-state-default:hover, #content .ui-widget-header .ui-state-default:hover { 
    transform: scale(1.1);
}

#content .ui-slider-horizontal{ 
    height: .3em; 
    vertical-align: -30px;
}

#content .world-title h2{
    font-size: 1.8em;
    font-weight: 500;
    color: black;
    border-style: solid;
    border-color: white;
    padding-bottom: 0.8em;
}

#content .world-title{
    padding-bottom: 2em;
}

#content .ui-widget-content {
    border: none; 
    background: none;
    background-color: #ccc;
}

#content .ui-widget-content {
    background-color: black;
}

.scenario {
    margin-bottom: 2.5em;
}